<!DOCTYPE html>
<html lang="en">

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<div id="gitalk-container"></div>
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{gitalk.clientID}}',
        clientSecret: '{{gitalk.clientSecret}}',
        id: window.location.pathname,
        repo: '{{gitalk.repo}}',
        owner: '{{gitalk.owner}}',
        admin: '{{gitalk.admin}}'
    })
    gitalk.render('gitalk-container')
</script>

</body>

</html>
